*{
    box-sizing: border-box;
}

/*font*/
body{
    font-family: "Sora";
    background-color: #F8F8FA;
}
.content{
    padding-top: 70px;
}

/*navbar*/
.navbar-custom{
    background-color :  #22577A;    
}
.left-item{
    margin-left: 10px;
}
.btn-search{
    transform: translate(-310%, -2%);
    cursor: pointer;
}
.cart{
    margin: 0;
    top: 50%;
    transform: translate(-150%, -10%);
}
#avatar {
    border-radius: 50%;
    margin: 0;
    top: 50%;
    transform: translate(-60%, -10%);
}
.navbar-brand{
    margin-left : 95px;
}
.right-nav{
    margin-right : 95px;
}

/*search box*/
.modal-backdrop{
    background-color: rgba(0, 0, 0, 0) !important;
}
.modal{
    opacity: 0.9;
}
.modal .modal-body .search-bar .input-search{
    width: 425px;
}
.modal .modal-body .search-bar .search-submit{
    background-color: transparent;
}
.modal .modal-body .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.modal .modal-body .grid-item {
    padding: 1px;
    text-align: center;
}

/*profile dropdown*/
.dropbtn {
    border: none;
    cursor: pointer;
}
#avatar2 {
    border-radius: 50%;
    margin-right: 10px;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    left: -200px;
    top: 23px;
    width: 200px;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}
/*card modal*/
.cart_modal{
    opacity: 1;
}
.cart_modal .modal-dialog .modal-content .modal-body .phone{
    margin: 20px;
}
.cart_modal .modal-dialog .modal-content .modal-body .card-body{
    margin-left: -40px;
}
.cart_modal .modal-dialog .modal-content .modal-body .card-body h5{
    text-align: left;
}
.cart_modal .modal-dialog .modal-content .modal-body .card-body .price{
    text-align: left;
    margin-top: -10px;
}

/*COUNTER*/
.cart_modal .modal-dialog .modal-content .modal-body .container{
    margin-top: 25px;
    width: max-content;
    margin-left: -40px;
}
.count-input {
  position: relative;
  width: 100%;
  max-width: 90px;
  /*top right bottom left*/
  margin: 10px 10px 10px 10px;
}
.count-input input {
  width: 100%;
  height: 36.92307692px;
  border: 1px solid #000;
  border-radius: 2px;
  background: none;
  text-align: center;
}
.count-input input:focus {
  outline: none;
}
.count-input .incr-btn {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  top: 50%;
  right: 0;
  margin-top: -15px;
  text-decoration:none;
}
.count-input .incr-btn:first-child {
  right: auto;
  left: 0;
  top: 46%;
}
.count-input.count-input-sm {
  max-width: 125px;
}
.count-input.count-input-sm input {
  height: 36px;
}
.count-input.count-input-lg {
  max-width: 200px;
}
.count-input.count-input-lg input {
  height: 70px;
  border-radius: 3px;
}
.cart_modal .modal-dialog .modal-content .modal-footer .col-md-9{
    display: flex; 
    justify-content: left; 
    color: white;
    padding-left: 50px;
    padding-top: 10px;
}
.cart_modal .modal-dialog .modal-content .modal-footer .col-md-9 .label{
    margin-right: 10px;
}
.cart_modal .modal-dialog .modal-content .modal-footer .card .card-body button{
    align-self: flex-end;
}

/*main title*/
.title{
    /*top right bottom left*/
    margin : 40px 0px 30px 0px;
  }
  
  /*card*/
  .img-card{
    border-top-left-radius : 5%;
    border-top-right-radius : 5%;
    width : 100%;
    height : 200px;
    object-fit : cover; 
  }
  #product_card{
    border-radius : 5%;
    color: black;
  }
  #product_card h5{
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  
/*footer*/
.footer {
    overflow: hidden;
    left: 0;
    bottom: 0;
    margin-top: 100px;
    width: 100%;
    background-color: #151515;
    text-align: center;
}
.footer .footer-link{
    color: #F8F8FA;
}

/*Responsive*/  
@media screen and (max-width: 991px) {
  .navbar-brand{
    margin-left : 0px;
  }
  .right-nav{
      margin-right : 15px;
  }
  .cart_modal .modal-dialog .modal-content .modal-body .card-body{
    margin-left: 0px;
  }
  .cart_modal .modal-dialog .modal-content .modal-body .phone-card .row{
      max-width: 450px;
  }
}
@media screen and (max-width: 767px){
.cart_modal .modal-dialog .modal-content .modal-footer .card .row .label{
    margin-left: 75px;
    }
}
@media screen and (max-width: 575px) {
    .cart_modal .modal-dialog .modal-content .modal-body .card-body h5{
      text-align: center;
    }
    .cart_modal .modal-dialog .modal-content .modal-body .card-body .price{
        text-align: center;
      }
    .cart_modal .modal-dialog .modal-content .modal-body .container{
        margin-top: -25px;
        margin-left: 0px;
        width: auto;
    }
  }
@media screen and (max-width: 500px) {
    .modal .modal-body .search-bar .input-search{
        width: 70vw;
    }
}

@media screen and (max-width: 450px){
    .cart_modal .modal-dialog .modal-content .modal-footer .card .row .label{
        margin-left: 50px;
        }
    }
@media screen and (max-width: 375px){
    .cart_modal .modal-dialog .modal-content .modal-footer .card .row .label{
        margin-left: 0px;
        }
    }
@media screen and (max-width: 285px){
    .cart_modal .modal-dialog .modal-content .modal-footer .card .row .label{
        margin-left: -30px;
        }
    }
@media screen and (max-width: 255px){
    .cart_modal .modal-dialog .modal-content .modal-footer .card .row .label{
        margin-left: -45px;
        }
    }
@media screen and (max-width: 190px) {
    .modal .modal-body .search-bar .input-search{
        width: 50vw;
    }
}