body{
	background: #F8F8FA;
}

/*
.container{
	width:90%;
	max-width:1442px;
}
*/
.container-profil{
	background: white;
	width: inherit;
/*	height: 600px;*/
	padding-top: 30px;
}
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: 50px;
	margin-left: 50px;
	position: relative;
 	min-width: 0;
	float: left;
	overflow: hidden;
}
.row-content{
	height:600px;
}
.row-detail{
	float: left;
	width: 25%;
	height:inherit;
	background: aqua;
}
.wel{
	margin: 10px 5px 10px 5px;
	width:360px;
	border-radius: 5px;
	position: relative;
/*	overflow: hidden;*/
}
.wel img{
	width: 97%;
	border-radius: 8px;
}
.wel-box {
	margin-left: -30px;
	position: relative;
	text-align: right;
	width: 200px;
}
.wel-box li{
	margin-bottom: 20px;
	font-size: 22px;
	list-style: none;
}
.wel-box-right {
	margin-left: -30px;
	position: relative;
}
.form{
	margin-bottom: 21px;
	height: 31px;
	background: #F8F8FA;
}
.form textarea{
	margin-top: 22px;
	background: #F8F8FA;
}
.radcheck {
	height: 32px;

	margin-bottom: 20px;
}
input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #16C79A;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 3px solid #F8F8FA;
}
.bd-i{
	background: white;
	border-radius:10px;
	height: 90px;
	overflow: hidden;
	margin-top:20px;
}
.img-responsive{
	width:70%;
	height:100%;
	margin-top:2.5%;
	margin-left:15%;
	position:relative;
}
.profil-img-responsive{
	width: 350px;
}
.col-lg-table {
	display: table-cell;
	float: none;
    height: 100%;
}
.save-detail{
	background: #16C79A;
	color:white;
	width: 200px;
	height: 40px;
	float: right;
	margin: -100px 100px 0 0;
}
input[type="file"] {
    display: none;
}
.input-custom::-webkit-file-upload-button {
  visibility: hidden;
}
.input-custom::before {
	content: 'Pilih Foto';
	display: inline-block;
	background: linear-gradient(top, #f9f9f9, #e3e3e3);
	border: 1px solid #999;
	border-radius: 8px;
	padding: 5px 8px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	text-shadow: 1px 1px #fff;
	font-weight: 700;
	font-size: 10pt;
	width: 350px;
	text-align: center;
}
.input-custom:hover::before {
  border-color: black;
}
.input-custom:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
select {
  width: 100%;
  min-width: 85px;
  max-width: 120px;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
/*  background-image: linear-gradient(to top, grey, #fff 33%);*/
  background: #F8F8FA;
}